<script type="text/x-handlebars" data-template-name="application">
    Wally App
    {{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="wall">
    {{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="post_list">
    {{outlet}}
    {{#each post in content}}
      {{view Redu.Wally.PostView contentBinding="post"}}
    {{/each}}
</script>
<script type="text/x-handlebars" data-template-name="post">
    <div class="status">
        <div class="status-context">
            <span class="status-subject icon-small icon-subject-lightblue_32_34">
            </span>
            {{#each context in post.contexts}}
                <a href="{{contextUrl post context public_self}}" class="status-main">{{ context.name }}</a>
            {{/each}}
        </div>
        <div class="status-log">
            <img alt="{{unbound post.author.name }}" class="friend-avatar" height="32" src="{{unbound post.author.thumbnail32Link }}" width="32">

            <div class="status-icon icon-member-gray_16_18-before ">
                <a href="{{unbound post.author.selfPublicLink}}" class="username">{{ post.author.name }}</a>
                <span class="status-info"> {{ post.readableAction  }} <a href="{{unbound post.targetSelfPublicLink}}">{{ post.readableTarget }}</a></span>
                <a {{action destroyRecord target="view"}}>Fechar</a>
                {{#if post.created_at}}
                    {{datetime post.created_at}}
                {{/if}}
            </div>
            <div class="status-contents">
                <div class="distance-top"></div>
                <p class="status-message">{{ post.content.text }}</p>
            </div>
            <div class="responses">
                <div class="distance-top"></div>
                <span class="last-responses" style="display: none; ">Visualizando as últimas respostas</span>
                <ol>
                    {{#each answer in post.answers}}
                        {{view Redu.Wally.AnswerView contentBinding="answer"}}
                    {{/each}}
                </ol>
                <div class="toggle-statuses" style="display: none; ">
                    <hr class="border-post">
                    <a href="#">Ver todos os <span class="qty">1</span> comentários</a>
                </div>
            </div>
            {{view Redu.Wally.NewAnswerView}}
        </div>
    </div>
</script>
<script type="text/x-handlebars" data-template-name="answer">
    <li id="status-54958">
        <hr class="border-post" style="display: none; ">
        <div class="re-status">
            <a {{action destroyRecord target="view"}}>Fechar</a>
            <div class="status-text">
                <img alt="{{unbound answer.author.name }}" class="avatar" height="32" src="{{unbound answer.author.thumbnail32Link }}" width="32">
                <a href="{{unbound answer.author.selfPublicLink}}" class="username">{{ answer.author.name }}</a>
                {{#if answer.created_at}}
                    {{datetime answer.created_at}}
                {{/if}}
            </div>
            <p class="status-message">{{ answer.content.text }}</p>
        </div>
    </li>
</script>
<script type="text/x-handlebars" data-template-name="new_post">
    {{view Ember.TextArea}} {{! bind done inside the controller}}
    <button type="submit">Postar</button>
    <a>Cancelar</a>
</script>
<script type="text/x-handlebars" data-template-name="new_answer">
    {{view Ember.TextArea}} {{! bind done inside the controller}}
    <button type="submit">Postar</button>
    <a>Cancelar</a>
</script>
