<script type="text/x-handlebars" data-template-name="application">
    {{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="wall">
    {{outlet}}
</script>
<script type="text/x-handlebars" data-template-name="post_list">
    <div class="statuses">
        <div class="status">
            <div class="status-content">
                {{outlet}}
            </div>
        </div>
    </div>
    <ol class="statuses">
        {{#each post in content}}
        {{view Redu.Wally.PostView contentBinding="post"}}
        {{/each}}
    </ol>
</script>
<script type="text/x-handlebars" data-template-name="post">
    <a href="#" class="icon-link"><span class="icon-subject-gray_32_34 text-replacement">Aula</span></a>
    {{#if post.contexts}}
        <span class="legend environment-name">
            {{ post.readableContext }}
        </span>
        <a href="{{unbound post.targetSelfPublicLink}}" class="course-name">{{post.target.name}}</a>
    {{/if}}

    <div class="status-text">
        <a href="#" class="icon-link"><img src="{{unbound post.author.thumbnail32Link }}"></a>
        <a href="{{unbound post.author.selfPublicLink}}" class="link-name">{{ post.author.name }}</a>
        <span class="status-info"> {{ post.readableAction  }} <a href="{{unbound post.targetSelfPublicLink}}">{{ post.readableTarget }}</a></span>
        <a class="close icon-close-gray_16_18 replacement" {{action destroyRecord target="view"}}>Excluir</a>
        {{#if post.created_at}}
            {{datetime post.created_at}}
        {{/if}}
    </div>
    <div class="status-container">
        <div class="status-content">
            <div class="post-text">
                <p class="input-user">{{ post.content.text }}</p>
            </div>
        </div>
        <ol class="responses status-content">
            <div class="last-responses">
                <p class="legend">Visualizando as últimas respostas...</p>
                <hr>
            </div>
            {{#each answer in post.answers}}
            {{view Redu.Wally.AnswerView contentBinding="answer"}}
            {{/each}}
            <div class="all-responses">
                <hr>
                <a href="#" class="link-secondary">Visualizando todas as 22 respostas</a>
            </div>
        </ol>
    </div>
    <ul class="actions clearfix">
        <li>
            <a class="icon-reply-gray_8_10-before reply-status" href="#">Responder</a>
        </li>
    </ul>
    <div class="create-response">
        {{view Redu.Wally.NewAnswerView}}
    </div>
    <hr class="list-separator">
</script>
<script type="text/x-handlebars" data-template-name="answer">
    <hr class="border-post">
    <span class="close icon-close-gray_16_18" {{action destroyRecord target="view"}}>Fechar</span>
    <div class="re-status">
        <div class="status-text status-text-response">
            <a href="#" class="icon-link">
                <img alt="{{unbound answer.author.name}}" src="{{unbound answer.author.thumbnail32Link }}">
            </a>
            <a href="{{unbound answer.author.selfPublicLink}}" class="link-name">{{ answer.author.name }}</a>
            <span class="status-info">
                respondeu:
            </span>
            {{#if answer.created_at}}
            {{datetime answer.created_at}}
            {{/if}}
        </div>
        <div class="post-text">
            <p class="input-user">{{ answer.content.text }}</p>
        </div>
    </div>
</script>
<script type="text/x-handlebars" data-template-name="new_post">
    <fieldset>
        {{view Ember.TextArea rows="1" cols="40"}} {{! bind done inside the controller}}
        <div class="status-buttons">
            <a class="button-default">Cancelar</a>
            <button class="button-primary" type="submit">Enviar</button>
        </div>
    </fieldset>
</script>
<script type="text/x-handlebars" data-template-name="new_answer">
    <fieldset>
        {{view Ember.TextArea rows="1" cols="40"}} {{! bind done inside the controller}}
        <div class="status-buttons">
            <a class="button-default">Cancelar</a>
            <button class="button-primary" type="submit">Enviar</button>
        </div>
    </fieldset>
</script>
